<!DOCTYPE html>
        <head>
        <link rel="stylesheet" media="screen" href="/cards/css/base.css" />
        <link rel="stylesheet" media="print" href="/cards/css/print.css" />
        </head>
        <body>
            {{ controllerTemplate|raw }}
        </body>
        <!-- Developed by Nikolai Danylchyk -->
</html>
