{% if tickets is empty %}
    No tickets are available for the introduced query. Please try again. <br/><br/>
    [ <a href="/">Go back</a> ]
{% else %}
    {% for ticket in tickets %}
        <div class="ticket">
            <table>
                <tr>
                    <th colspan="3">{{  ticket.summary }}</th>
                </tr>
                <tr>
                    <td>Konzept:</td>
                    <td>Design:</td>
                    <td rowspan="2" class="storypoints"><span>{{ ticket.story_points }}</span></td>
                </tr>
                <tr>
                    <td>FE:</td>
                    <td>BE:</td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endif %}
