<div class="mainPage">
    <h3>Ticket fetcher from JIRA for printing.</h3>
    <img style="float: right" src="/cards/img/sprintid.png">
    <form method="POST" action="/cards/index/fetch-html/">
    Please specify your Jira login data:<br /><br />
    <input type="text" name="user" value="" placeholder="User Name"><br /><br />
    <input type="password" name="password" value="" placeholder="Password"><br/><br/>
    Please specify the sprint ID:<br /><br />
    <input type="text" name="sprint" value="" placeholder="Sprint ID"><br /><br />OR<br /><br />
    <input type="text" name="tickets" value="" placeholder="Ticket ID"><br />For example TML-12345 or TMLSD-6789. For multiple ticket please use comma as a separator.<br/><br/>
    <input type="submit" name="submitForm" value="Submit">
    </form>
</div>
